body {
    margin: 0;
    background: #2c2f33;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
header {
    text-align: center;
    font-size: larger;
    text-shadow: #161617;
}
.link-url-input {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}
#videoUrl {
      width: 50%;
      height: 35px;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
      border-radius: 4px;
      align-self: center; /* Input'u da ortala */
      margin-bottom: 10px; /* Button ile arası */
      
}
.accept-button {
    width: 10%;
    height: 35px;
    background-color: #7d8398;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    align-self: center;
    border-radius: 5px;
}
.accept-button:hover {
    background-color: #5a5f7d;
}
.accept-button:active {
    background-color: #7d8398;
}
