body {
    margin: 0;
    background: #2c2f33;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
header {
    text-align: center;
    font-size: larger;
    text-shadow: #161617;
}